.right{
    height: auto;
    width: 15vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid white;
    justify-content: space-around;
    background-color: black;
    opacity: 0.6;
}

.options{
    height: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: 750;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.options:hover{
    background-color: white;
    opacity: 0.7;
    border-radius: 15px;
    color: black;
}

#div1{
    margin-top: 0px;
}

.icon{
    margin: 4px ;
    height: 23px;
    width: 25px;
    padding-bottom: 2px;
}
#timeicon1{
    height: 20px;
    width: 25px;
}

#timeicon2{
    height: 18px;
    width: 25px;
}

#timeicon3{
    height: 23px;
    width: 25px;
}


#timeicon4{
    height: 26px;
    width: 25px;
    padding-bottom: 1px;
}